{% include "_header.html" %}


<!--Jumbotron-->
	<div class="jumbotron sizeClass" style="background-image: url(../ImagesPro/cake.jpg);">
	  <div class="container">
	    <!-- <h1>Order now!!!</h1> -->
	  </div>
	</div>
<!--End Jumbotron-->


<!--Gallery-->
<div class="container">
		<section id="gallary-section">
			<div class="page-header text-center" id="Gallary">
				<h2>Cake Gallary<small> </small></h2>
			</div><!--End Page Header services-->




<!-- set up new gallery with flexbox begin -->
<!-- <a href="../ImagesPro/bananna.jpg" data-lightbox="roadtrip"><img src="../ImagesPro/bananna.jpg" alt="..." class="image"></a>
<a href="../ImagesPro/biscotti.jpg" data-lightbox="roadtrip"><img src="../ImagesPro/biscotti.jpg" alt="..." class="image"></a>
<a href="../ImagesPro/cake.jpg" data-lightbox="roadtrip"><img src="../ImagesPro/cake.jpg" alt="..." class="image"></a> -->

<!-- <div id="cakeGallery">
	<div class="imageBox" onclick="thumbnail(this)"> <a href="#row" class="thumbnail" ><img src="../ImagesPro/bananna.jpg" alt="..." class="image"></a></div>
	<div class="imageBox2" onclick="thumbnail(this)"><a href="#row" class="thumbnail" ><img src="../ImagesPro/biscotti.jpg" alt="..." class="image"></a></div>
	<div class="imageBox" onclick="thumbnail(this)"><a href="#row" class="thumbnail" ><img src="../ImagesPro/cake.jpg" alt="..." class="image"></a></div>
	<div class="imageBox2" onclick="thumbnail(this)"><a href="#row" class="thumbnail" ><img src="../ImagesPro/cookies.jpg" alt="..." class="image"></a></div>
	<div class="imageBox" onclick="thumbnail(this)"><a href="#row" class="thumbnail" ><img src="../ImagesPro/icecream.jpg" alt="..." class="image"></a></div>
	<div class="imageBox2" onclick="thumbnail(this)"><a href="#row" class="thumbnail" ><img src="../ImagesPro/pastries.jpg" alt="..." class="image"></a></div>
</div> -->
<!-- set up new gallery with flexbox end -->




{% include "_gallery.html"%}

</section><!--End section-gallary-->
	</div>
<!--End container gallary-->


{% include "_footer.html"%}

  
</body>	
</html>