{% include "_header.html"%}

<!--Jumbotron-->
	<div class="jumbotron sizeClass" style="background-image: url(../ImagesPro/cookies.jpg);">
	  <div class="container">
	    
	  </div>
	</div>
<!--End Jumbotron-->


<!--Gallary-->
<div class="container">
		<section id="gallary-section">
			<div class="page-header text-center" id="Gallary">
				<h2>Cookie Gallary<small> </small></h2>
			</div><!--End Page Header services-->
{% include "_gallary.html"%}

</section><!--End section-gallary-->
	</div>
<!--End container gallary-->


{% include "_footer.html"%}

	<!-- JQuery 
	==========================================================-->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<!--End JQuery-->
	<!-- Latest compiled and minified JavaScript Bootstrap
	======================================================-->
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--End Bootstrap JS-->


  
</body>	
</html>