{% include "_header.html"%}


<!--Jumbotron-->
	<div class="jumbotron sizeClass" style="background-image: url(../ImagesPro/icecream.jpg);">
	  <div class="container">
	   
	  </div>
	</div>
<!--End Jumbotron-->

<!--Gallary-->
	<div class="container">
		<section id="gallary-section">
			<div class="page-header text-center" id="Gallary">
				<h2>Ice Cream Gallary<small> </small></h2>
			</div><!--End Page Header services-->
			<div class="row">
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img src="../images/1.jpg" alt="...">
			    </a>
			    
			  </div>
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img src="../images/1.jpg" alt="...">
			    </a>
			    
			  </div>
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img src="../images/1.jpg" alt="...">
			    </a>
			    
			  </div>
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img src="../images/1.jpg" alt="...">
			    </a>
			    
			  </div>
			 </div><!--End row-->

		</section><!--End section-gallary-->
	</div>
<!--End container gallary-->




{% include "_footer.html"%}
  
</body>	
</html>