{% include "_header.html"%}
<!--Jumbotron-->
	<div class="jumbotron sizeClass" style="background-image: url(../ImagesPro/menu.jpg);">
	  <div class="container">
	    <h1>Menu</h1>
	  </div>
	</div>
<!--End Jumbotron-->

<!--Menu-->
	<div class="container">
		<section id="menu-section">
			<div class="page-header text-center" id="services">
				<h2>Menu<small> </small></h2>
			</div><!--End Page Header services-->
			<div class="row">
				<div class="col-lg-12 text-center">
					<h3>Pastry Chef's Treats</h3>
					
				</div>
			</div>

			<div class ="row">
			  <div class="col-sm-6 col-md-6">
			  	<table class="table table-condensed">
			  	<tbody>
			  		<tr>
			  			<td>Cupcakes</td>
			  			<td></td>
			  			<td class="text-center">2.50</td>
			  		</tr>
			  		<tr>
			  			<td>Cookies</td>
			  			<td></td>
			  			<td class="text-center">15.99/lb</td>
			  		</tr>
			  		<tr>
			  			<td>Pastries*</td>
			  			<td></td>
			  			<td class="text-center">3.50</td>
			  		</tr>
			  		<tr>
			  			<td>Dessert Cups*</td>
			  			<td class="text-center"></td>
			  			<td class="text-center">3.95</td>
			  		</tr>
			  		<tr>
			  			<td>Chocolate Truffles</td>
			  			<td class="text-center"></td>
			  			<td class="text-center">20.99/lb</td>
			  		</tr>
			  		<tr>
			  			<td>Cannolis</td>
			  			<td class="text-center">1.50 mini</td>
			  			<td class="text-center">2.75 lg</td>
			  		</tr>
			  		<tr>
			  			<td>Brownies</td>
			  			<td class="text-center"></td>
			  			<td class="text-center">6.99/lb</td>
			  		</tr>
			  		<tr>
			  			<td>Crumb Cake</td>
			  			<td class="text-center"></td>
			  			<td class="text-center">6.99</td>
			  		</tr>
			  		<tr>
			  			<td>Bread</td>
			  			<td class="text-center"></td>
			  			<td class="text-center">3.75-6.75</td>
			  		</tr>
			       
			    </tbody>
			    </table>
			  </div>
			  <div class="col-sm-6 col-md-6">
			  	<table class="table table-condensed">
		  			<tr>
			  			<td>Cakes</td>
			  			<td class="text-center">6" (6-8ppl)</td>
			  			<td class="text-center">16.00</td>
			  		</tr>
			  		<tr>
			  			<td></td>
			  			<td class="text-center">8" (15-17ppl)</td>
			  			<td class="text-center">25.00</td>
			  		</tr>
			  		<tr>
			  			<td></td>
			  			<td class="text-center">10" (25-27ppl)</td>
			  			<td class="text-center">48.00</td>
			  		</tr>
			  		<tr>
			  			<td>Chocolate Covered</td>
			  			<td class="text-center">Strawberries, Oreos, Cherries,Pretzels</td>
			  			<td class="text-center">16.99/lb</td>
			  		</tr>
			  		<tr>
			  			<td></td>
			  			<td class="text-center"></td>
			  			<td class="text-center"></td>
			  		</tr>
			  		<tr>
			  			<td></td>
			  			<td class="text-center"><strong>Specialty Cakes</strong></td>
			  			<td class="text-center"></td>
			  		</tr>
			  		<tr>
			  			<td></td>
			  			<td class="text-center">Weddings, Anniversary, Sweet 16, Birthday</td>
			  			<td class="text-center"></td>
			  		</tr>
			  		<tr>
			  			<td></td>
			  			<td class="text-center">Bar/t mizvah, Holidays, Quinceanera, Sporting Events</td>
			  			<td class="text-center"></td>
			  		</tr>
			  	</table>
			  </div>
			</div><!--End Row-->

			<div class ="row">
			  <div class="col-lg-12 text-center">
			  	<table class="table table-condensed">
			  	<thead>
			  		<tr>
			  			<th class="text-center"><h4>Specials</h4></th>
			  		</tr>
			  	</thead>
			  	<tbody>
			  		<tr>
			  			<td>Saturday Morning Special....4.50</td>
			  		</tr>
			  		<tr>
			  			<td>*Pastries and Dessert Cups Buy 5 Get One Free</td>
			  		</tr>
			  		<tr>
			  			<td>**Look for our seasonal specials**</td>
			  		</tr>
			  	</tbody>
			  	</table>
			        <hr>
			        </br>
			  </div>
			  <div class="col-lg-12 text-center">
					<h3>Homemade Ice Cream</h3>
					
				</div>
			  <div class="col-sm-6 col-md-6">
			  <table class="table table-condensed">
			  	<tbody>
			  		<tr>
			  			<td>Ice Cream</td>
			  			<td class="text-center">sm</td>
			  			<td class="text-center">med</td>
			  			<td class="text-center">lg</td>
			  		</tr>
			  		<tr>
			  			<td>Soft</td>
			  			<td class="text-center">3.25</td>
			  			<td class="text-center">4.25</td>
			  			<td class="text-center">5.00</td>
			  		</tr>
			  		<tr>
			  			<td>Hard</td>
			  			<td class="text-center">3.75</td>
			  			<td class="text-center">4,75</td>
			  			<td class="text-center">5.50</td>
			  		</tr>
			  		<tr>
			  			<td>Waffle Cone</td>
			  			<td class="text-center"></td>
			  			<td class="text-center">5.00</td>
			  			<td class="text-center">5.75</td>
			  		</tr>
			  		<tr>
			  			<td>Sundaes</td>
			  			<td class="text-center"></td>
			  			<td class="text-center">5.00</td>
			  			<td class="text-center">5.75</td>
			  		</tr>
			  		<tr>
			  			<td>Brownie Sundaes</td>
			  			<td class="text-center"></td>
			  			<td class="text-center"></td>
			  			<td class="text-center">6.50</td>
			  		</tr>
			  		<tr>
			  			<td>Waffle Bowl Sundaes</td>
			  			<td class="text-center"></td>
			  			<td class="text-center"></td>
			  			<td class="text-center">6.50</td>
			  		</tr>
			  		<tr>
			  			<td>Bananna Split</td>
			  			<td class="text-center"></td>
			  			<td class="text-center"></td>
			  			<td class="text-center">6.95</td>
			  		</tr>

			  	</tbody>
			  </table>
			       <hr>
			  </div>
			  <div class="col-sm-6 col-md-6">
			  	<table class="table table-condensed">
			  		<tr>
			  			<td>Egg Cream</td>
			  			<td class="text-center"></td>
			  			<td class="text-center"></td>
			  			<td class="text-center">3.25</td>
			  		</tr>
			  		<tr>
			  			<td>Milk Shake</td>
			  			<td class="text-center"></td>
			  			<td class="text-center"></td>
			  			<td class="text-center">5.50-6.50</td>
			  		</tr>
			  		<tr>
			  			<td>Malt Shake</td>
			  			<td class="text-center"></td>
			  			<td class="text-center"></td>
			  			<td class="text-center">5.75</td>
			  		</tr>
			  		<tr>
			  			<td>Rootbeer Float</td>
			  			<td class="text-center"></td>
			  			<td class="text-center"></td>
			  			<td class="text-center">4.25</td>
			  		</tr>
			  		
			  	</table>
			  	<table class="table table-condensed">
			  		<tr>
			  			<td></td>
			  			<td class="text-center"></td>
			  			<td class="text-center"><strong>Toppings</strong></td>
			  			<td></td>
			  			<td class="text-center"></td>
			  		</tr>
			  		<tr>
			  			<td class="text-right"><strong>Wet</strong></td>
			  			<td class="text-center"></td>
			  			<td></td>
			  			<td class="text-right"><strong>Dry</strong></td>
			  			<td class="text-center"></td>
			  		</tr>
			  		
			  		<tr>
			  			<td class="text-center">Chocolate Hard Dip</td>
			  			<td class="text-center">MarshMellow</td>
			  			<td class="text-center"></td>
			  			<td class="text-center">Chocolate Chip</td>
			  			<td class="text-center">Chocolate Crunch</td>
			  		</tr>
			  		<tr>
			  			<td class="text-center">Chocolate Syrup</td>
			  			<td class="text-center">Peanut Butter</td>
			  			<td class="text-center"></td>
			  			<td class="text-center">Toasted Coconut</td>
			  			<td class="text-center">Jolly Rancher</td>
			  		</tr>
			  		<tr>
			  			<td class="text-center">Wet Walnuts</td>
			  			<td class="text-center">Hot Fudge</td>
			  			<td class="text-center"></td>
			  			<td class="text-center">Sprinkles</td>
			  			<td class="text-center">Reeses</td>
			  		</tr>
			  		<tr>
			  			<td class="text-center">Hot Fudge</td>
			  			<td class="text-center">Pineapple</td>
			  			<td class="text-center"></td>
			  			<td class="text-center">Gummies</td>
			  			<td class="text-center">M&M's</td>
			  		</tr>
			  		<tr>
			  			<td class="text-center">Caramel</td>
			  			<td class="text-center">Cherry</td>
			  			<td class="text-center"></td>
			  			<td class="text-center">Oreos</td>
			  			<td class="text-center">Peanuts</td>
			  		</tr>
			  		<tr>
			  			<td class="text-center">Strawberry</td>
			  			<td class="text-center"></td>
			  			<td class="text-center"></td>
			  			<td class="text-center"></td>
			  			<td class="text-center"></td>
			  		</tr>
			  		
			  	</table>
			  	<hr>
			  </div>
			</div><!--End Row-->

		</section><!--End menu-services-->
	</div>
<!--End container menu-->


{% include "_footer.html"%}

	<!-- JQuery 
	==========================================================-->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<!--End JQuery-->
	<!-- Latest compiled and minified JavaScript Bootstrap
	======================================================-->
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--End Bootstrap JS-->


  
</body>	
</html>