{% include "_header.html"%}


<!-- Jumbotron -->
	<div class="jumbotron">
		<div class="container text-center">
			<section id="section-banner">
				<hr style="border-color:#00cc00;">
				<h1>Software Engineer</h1>
				<p>AnnMarie Pigna-Torres</p>
				<hr style="border-color:#00cc00;">
				</br>
				
				<div class="btn-group">
					<a href="../resume.pdf" class ="btn btn-lg btn-success">download resume</a>
				</div>
			</section><!--End Section-banner-->
		</div><!--End Container-->
	</div>
<!--End Jumbotron-->
	

<!--About Me-->
	<div class="container">
		<section id="section-aboutme">	
			<div class="page-header" id="aboutme">
				<h2>About Me</h2>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<img src="../images/profile.jpg" class = "img-responsive" alt="image">
				</div>
				<div class="col-lg-8">
					<p style="font-size: 1.4em;">
					</br>
					</br>
						Accomplished Software Engineer with experience in Xamarin, C#, and XAML cross-platform iOS, Android mobile application development, and Windows forms software. Skilled at developing Web Applications with HTML, CSS, JavaScript, and JavaScript libraries. Excellent programming, problem solving, analytical, and interpersonal skills.


					</p>
				</div>
			</div><!--End row-->
		</section>
	</div><!--End Container-->
<!--End About Me-->

<!--Skills-->
	<div class="container">
		<section id="section-skills">
			<div class="page-header" id="skills">
				<h2>Skills<small> </small></h2>
			</div><!--End Page Header skills-->
			
			<div class ="row">
				<div class="col-sm-4">
					<div class="panel panel-default">
						<div class="panel-body">
						<ul style="color:#00cc00";>
							<li class="skill-list"><span style="color:black";>Visual Studio</span></li>
							<li class="skill-list"><span style="color:black";>Xamarin</span></li>
							<li class="skill-list"><span style="color:black";>Sublime Text</span></li>
							<li class="skill-list"><span style="color:black";>JSON</span></li>
							<li class="skill-list"><span style="color:black";>TypeScript</span></li>
							<li class="skill-list"><span style="color:black";>Bootstrap</span></li>
						</ul>
							
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel panel-default">
						<div class="panel-body">
						<ul style="color:#00cc00";>
							<li class="skill-list"><span style="color:black";>C#</span></li>
							<li class="skill-list"><span style="color:black";>ADO.Net</span></li>
							<li class="skill-list"><span style="color:black";>Microsoft SQL</span></li>
							<li class="skill-list"><span style="color:black";>SQL/PL SQL</span></li>
							<li class="skill-list"><span style="color:black";>JQuery</span></li>
							<li class="skill-list"><span style="color:black";>AJAX</span></li>
						</ul>
							
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel panel-default">
						<div class="panel-body">
						<ul style="color:#00cc00";>
							<li class="skill-list"><span style="color:black";>ASP.Net</span></li>
							<li class="skill-list"><span style="color:black";>CSS</span></li>
							<li class="skill-list"><span style="color:black";>HTML</span></li>
							<li class="skill-list"><span style="color:black";>XAML/XML</span></li>
							<li class="skill-list"><span style="color:black";>Node.js</span></li>
							<li class="skill-list"><span style="color:black";>JavaScript</span></li>
						</ul>
							
						</div>
					</div>
				</div>
				
			</div><!--End Row-->

		</section><!--End section-skills-->
	</div>
<!--End container skills-->


<!--Education-->
	<div class="container">
		<section id="section-education">
			<div class="page-header" id="education">
				<h2>Education<small></small></h2>
			</div><!--end page-header-->
			<div class="row">
			<div class="col-sm-12">
					<div class="media">
						  <div class="media-left">
						    <a href="http://www.nj.devry.edu/">
						    <i class="fa fa-university" aria-hidden="true" style="color:#00cc00; font-size: 1.5em;"></i>
						      <!--<img class="media-object" src="..." alt="...">-->
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">DeVry University, North Bruswick, New Jersey</h4>
						    <p><strong>Bachlor of Science in Computer Information Systems</strong></br>
						    October 2004</br>
						    GPA: 3.9 - Summa Cum Laude</p>
						    
						  </div>
						</div>

				</div>
				</div>

		</section><!--end education section-->
	</div>
<!--end Education container-->



<!--Work History-->
	<div class="container">
		<section id="section-workhistory">
			<div class="page-header" id="workhistory">
				<h2>Work History<small></small></h2>
			</div><!--end page-header-->
			<div class="row">
				<div class="col-sm-12">
					<div class="media">
						  <div class="media-left">
						    <a href="http://www.phunctor.com/home.html">
						    <i class="fa fa-building" aria-hidden="true" style="color:#00cc00; font-size: 1.5em;"></i>
						      <!--<img class="media-object" src="..." alt="...">-->
						    </a>
						  </div>
						  <div class="media-body">
						   <h4 class="media-heading">Phunctor, Manhatten, New York</h4>
						    <p><strong>Software Engineer</strong></br>
						    July 2015 - October 2015</p>
						    
						  </div>

						</div>

				</div>
			</div><!--End row-->
			</br>
			<div class="row">
				<div class="col-sm-12">
					<div class="media">
						  <div class="media-left">
						    
						    <i class="fa fa-building" aria-hidden="true" style="color:#00cc00; font-size: 1.5em;"></i>
						      <!--<img class="media-object" src="..." alt="...">-->
						    
						  </div>
						  <div class="media-body">
						   <h4 class="media-heading">Silicon Network Solutions, Elizabeth, New Jersey</h4>
						    <p><strong>Software Engineer</strong></br>
						    June 2009 - July 2011</p>
						    
						  </div>

						</div>

				</div>
			</div><!--End row-->
			</br>
			<div class="row">
				<div class="col-sm-12">
					<div class="media">
						  <div class="media-left">
						    <a href="http://www.cnginternet.com/Master/Default.aspx">
						    <i class="fa fa-building" aria-hidden="true" style="color:#00cc00; font-size: 1.5em;"></i>
						      <!--<img class="media-object" src="..." alt="...">-->
						    </a>
						  </div>
						  <div class="media-body">
						   <h4 class="media-heading">CNG Internet, Tinton Falls, New Jersey</h4>
						    <p><strong>Software Engineer</strong></br>
						    June 2007 - June 2009</p>
						    
						  </div>

						</div>

				</div>
			</div><!--End row-->
			

		</section><!--end work history section-->
	</div>
<!--end work history container-->
<!--Volunteer-->
	<div class="container">
		<section id="section-education">
			<div class="page-header" id="volunteer">
				<h2>Volunteer<small></small></h2>
			</div><!--end page-header-->
			<div class="row">
			<div class="col-sm-12">
					<div class="media">
						  <div class="media-left">
						    
						    <i class="fa fa-building" aria-hidden="true" style="color:#00cc00; font-size: 1.5em;"></i>
						      <!--<img class="media-object" src="..." alt="...">-->
						    
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">Blue Economics, Manhatten, New York</h4>
						    <p><strong>Software Developer</strong></br>
						    June 2015 - Present</p>
						    
						  </div>
						</div>

				</div>
				</div>

		</section><!--end education section-->
	</div>
<!--end Education container-->


{% include "_footer.html"%}



	<!-- JQuery 
	==========================================================-->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<!--End JQuery-->
	<!-- Latest compiled and minified JavaScript Bootstrap
	======================================================-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--End Bootstrap JS-->


  
</body>	
</html>