{% include "_header.html"%}

<!--Jumbotron-->
	<div class="jumbotron sizeClass" style="background-image: url(../ImagesPro/banner2.png);">
	  <div class="container">
	   
	  </div>
	</div>
<!--End Jumbotron-->


<!--Services-->
	<div class="container">
		<section id="section-skills">
			<h2 class="text-center">Thank You for your order!</h2>
			<h2 class="text-center">If you have any questions or comments please contact us.</h2>
		</section><!--End section-services-->
	</div>
<!--End container services-->

{% include "_footer.html"%}

	<!-- JQuery 
	==========================================================-->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<!--End JQuery-->
	<!-- Latest compiled and minified JavaScript Bootstrap
	======================================================-->
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--End Bootstrap JS-->


  
</body>	
</html>