.story{
	position: relative;
	top: 0;
	left: 0;

	
	& img{
		position: absolute;
		
		z-index: -1;
		color: #000;
		/*background-image:url('../Images/counter2a.jpg');*/
		background-size: cover;	
		width: 100%;
		height: 50rem;
		opacity: 0.75;
		/*@media (min-width: 767px){
		
		height: 60rem;

	}

	@media(min-width: 414px){
		
		height: 75rem;
	}*/
	}

	& h1{
		position: relative;
		z-index: 1;
		opacity: 1;
		color: #000;
		font-family: 'open sans', Helvetica, sans-serif;
		font-size: 4.5rem;
		font-weight: 600;
		text-align: center;
		padding-top: 5rem;
		padding-bottom: 1rem;

		
	}
	& p{
		position: relative;
		z-index: 1;
		opacity: 1.0;
		color: #000;
		font-family: 'Lobster Two', Helvetica, sans-serif;
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
		padding-bottom: .75rem;
		line-height: 26px;

	}
	
}