	/*#cakeGallery{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	
	}
	#cakeGallery .imageBox{
		width: 225px;
		height: 150px;
		background-size: contain;
		background-image: cover;
		overflow: hidden;
		/*background-color: red;

	}

	#cakeGallery .imageBox2{
		width: 250px;
		height: 150px;
		background-size: contain;
		background-image: cover;
		overflow: hidden;
		/*background-color: green;
	}
	.image{
		width: 250px;
		height: 150px;
		background-image: cover;
		background-size: contain;
		overflow: hidden;

	}*/
	.thumbnail{
		width: 265px;
		height: 150px;
		min-width: 265px;
		min-height: 150px;
		max-width: 700px;
		max-height: 500px;
		background-image: cover;
		background-size: contain;
		overflow: hidden;

	}

	