

.imageContainer{
  margin-top:10rem;

  display:flex;
  justify-content: center;

}

.imageContainer div{
  /*margin:2rem;*/
  background:red;
  width:25rem;
  height:20rem;
}

.imageContainer .testOne{
  background:url("../imagesPro/cake.jpg");
  background-size: cover;
  margin-top: 8rem;
  width: 30rem;


  @media (min-width: 1100px){
    width: 40rem;
    height: 30rem;
  }
  
}


.imageContainer .unique{
  position:absolute;
  width:30rem;
  height:35rem;

  background:#9bb3c5;

  padding:1.9rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1px;
  border-radius: 4px;


   @media (min-width: 1100px){
    width: 35rem;
    height:45rem;
  }
  
  & h1{
    text-align: center;
    font-size:1.5rem;
    min-width: 100rem;

  }

  & i{
    font-size:3rem;
  }


  & .store{
    font-size: 1.5rem;
  }

  & img{
    width:5rem;
    height:5rem;
    border-radius: 50%;
  }

  & .title{
    font-size:1.5rem;
  }


}





















