<!--contact-->
	<div class="container">
		<section id="section-contact">
			<div class="page-header text-center" id="contact">
				
			</div><!--end page header-->

			<div class="row">
				<div class="col-lg-12 text-center">
					<address>
						<h3><strong>Sweet Treats and Ice Cream</strong></h3>
						<h> 249 N Main St</br>
						Forked River, NJ</br>
						Phone: (609) 242-3279</br>
						Monday-Friday: 10am-10pm</br>
						Saturday-Sunday: 8am-10pm</h4>
					</address>					
				</div>
				<div class="social-icons text-center navbar">
						<a href="https://www.facebook.com/sweettreatsnj"><i class="fa fa-facebook"></i></a>
						<a href="https://github.com/AnnMarieTorres"><i class="fa fa-instagram"></i></a>
					</div>
				
			</div><!--End row-->
		</section>
	</div><!--end container-->
<!--end


<!--footer-->
	<footer>
<!-- 	<div class="social-icons text-center navbar navbar-inverse">
						<a href="https://twitter.com/NameInCode"><i class="fa fa-twitter"></i></a>
						<a href="https://github.com/AnnMarieTorres"><i class="fa fa-github"></i></a>
						<a href="https://www.linkedin.com/in/annmarietorres"><i class="fa fa-linkedin"></i></a>
	</div> -->

	</footer>
<!--end footer-->

	<!-- JQuery 
	==========================================================-->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<!--End JQuery-->
	<!-- Latest compiled and minified JavaScript Bootstrap
	======================================================-->
	<script src="../js/temp/scripts/app.js"></script>
	<script src="../../node_modules/lightbox.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--End Bootstrap JS-->

	<script src="../js/popUp.js"></script>
	<script>
    lightbox.option({
      'resizeDuration': 50,
      'wrapAround': true,
      'maxWidth': 50px
    })
</script>

