<!--Gallary-->
	
			<div class="row" >
			
			  <div class="col-sm-6 col-md-3" onclick="thumbnail(this)">
			  <div class ="reveal-services">
			    <a href="#row" class="thumbnail" >
			      <img src="../images/1.jpg" alt="...">
			    </a>
			    </div>
			  </div>
			  <div class ="reveal-services1">
			  <div class="col-sm-6 col-md-3" onclick="thumbnail(this)">
			    <a href="#row" class="thumbnail" >
			      <img src="../images/2.jpg" alt="...">
			    </a>
			    </div>
			  </div>
			  <div class ="reveal-services2">
			  <div class="col-sm-6 col-md-3" onclick="thumbnail(this)">
			    <a href="#row" class="thumbnail" >
			      <img src="../images/3.jpg" alt="...">
			    </a>
			    </div>
			  </div>
			  <div class ="reveal-services3">
			  <div class="col-sm-6 col-md-3" onclick="thumbnail(this)">
			    <a href="#row" class="thumbnail" >
			      <img src="../images/4.jpg" alt="...">
			    </a>
			    </div>
			  </div>
			 </div><!--End row-->


			 <div class="row">
			 <div class ="reveal-services4">
			  <div class="col-sm-6 col-md-3" onclick="thumbnail(this)">
			    <a href="#row" class="thumbnail" >
			      <img src="../images/1.jpg" alt="...">
			    </a>
			    </div>
			  </div>
			  <div class ="reveal-services5">
			  <div class="col-sm-6 col-md-3" onclick="thumbnail(this)">
			    <a href="#row" class="thumbnail" >
			      <img src="../images/2.jpg" alt="...">
			    </a>
			    </div>
			  </div>
			  <div class ="reveal-services6">
			  <div class="col-sm-6 col-md-3" onclick="thumbnail(this)">
			    <a href="#row" class="thumbnail" >
			      <img src="../images/3.jpg" alt="...">
			    </a>
			    </div>
			  </div>
			  <div class ="reveal-services7">
			  <div class="col-sm-6 col-md-3" onclick="thumbnail(this)">
			    <a href="#row" class="thumbnail">
			      <img src="../images/4.jpg" alt="...">
			    </a>
			    </div>
			  </div>
			 </div><!--End row-->


			 <div class="row">
			 <div class ="reveal-services8">
			  <div class="col-sm-6 col-md-3" onclick="thumbnail(this)">
			    <a href="#row" class="thumbnail">
			      <img src="../images/1.jpg" alt="...">
			    </a>
			    </div>
			  </div>
			  <div class ="reveal-services9">
			  <div class="col-sm-6 col-md-3" onclick="thumbnail(this)">
			    <a href="#row" class="thumbnail">
			      <img src="../images/2.jpg" alt="...">
			    </a>
			    </div>
			  </div>
			  <div class ="reveal-services10">
			  <div class="col-sm-6 col-md-3" onclick="thumbnail(this)">
			    <a href="#row" class="thumbnail">
			      <img src="../images/3.jpg" alt="...">
			    </a>
			    </div>
			  </div>
			  <div class ="reveal-services11">
			  <div class="col-sm-6 col-md-3" onclick="thumbnail(this)">
			    <a href="#row" class="thumbnail">
			      <img src="../images/4.jpg" alt="...">
			    </a>
			    </div>
			  </div>
			 </div><!--End row-->